body {
    background: #eeeeee;
    text-align: center;
    width: 400px;
    margin: 0;
    padding: 0;
}

button {
    background: #4e1b08;
    border: none;
    padding: 5px 20px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}


button:hover {
    background: #2f0d00;
}

button.fill {
    float: right;
}


.inputbox {
    display: inline;
}

.inputbox input {

    padding: 4px;
    border: none;
    border-radius: 0 3px 3px 0;
    width: 80px;

}
.inputbox label {

    padding: 3px 6px;
    border-radius: 3px 0 0 3px;
    background: #2f0d00;
    color: #ffffff;
    font-size: 12pt;
}
hr{
    margin: 20px
}
.inputbox-full {
    display: inline;
}

.inputbox-full input {

    padding: 4px;
    border: none;
    border-radius: 0 3px 3px 0;
    width: 150px;

}
.inputbox-full label {

    padding: 3px 6px;
    border-radius: 3px 0 0 3px;
    background: #2f0d00;
    color: #ffffff;
    font-size: 12pt;
}


*:focus {
    outline: none;
}



#keys {
    margin: 10px 0;
    background: #ffffff;
    max-height: 300px;
    overflow: auto;
    padding: 10px 0;
}

#keys table {
    width: 100%;
}


#keys table tr th {
    background: #2f0d00;
    color: #ffffff;
}

#keys table tr td {
    max-width: 50px;
    overflow: hidden;
    padding: 3px;
}
#pressets {
    margin: 10px 0;
    background: #ffffff;
    max-height: 300px;
    overflow: auto;
    padding: 10px 0;
}

#pressets table {
    width: 100%;
}


#pressets table tr th {
    background: #2f0d00;
    color: #ffffff;
}

#pressets table tr td {
    max-width: 50px;
    overflow: hidden;
    padding: 3px;
}

* {
    font-family: sans-serif;
}

.title * {
    height: 30px;
    vertical-align: middle;
    color: #fff;
    font-size: 1.3em;
}

.title {
    margin-bottom: 10px;
    background: #4e1500;
    padding: 10px 20px;
    box-sizing: border-box;

}

.conteudo {
    padding: 10px;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    flex-flow: row;
    flex-wrap: wrap;
}

.col-bt-preset{
    text-align: right;
}